/*seteando variables más usadas*/
$color_fuenteprincipal: rgb(0, 128, 11);
$color_fuentesecundaria: rgb(255, 170, 0);
$color_fuenteparrafo: rgb(47, 127, 7);
$fuente_principal: verdana;
$fuente_secundaria: arial;
$fuente_parrafo: impact;